XWS-SOAP/WEB-INF/scheme/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:frm="http://xws/tim7/user"
    targetNamespace="http://xws/tim7/user" elementFormDefault="qualified">

    <xs:element name="user">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="firstname" type="xs:string"/>
                <xs:element name="lastname" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:long"/>
        </xs:complexType>
    </xs:element>
    
</xs:schema>